* {
  font-family: verdana;
}

ul.playerSelectorList {
  padding: 0;
  list-style: none;
  font-size: 2em;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

ul.playerSelectorList > button {
  height: auto;
}

ul.playerSelectorList > * {
  font-size: 1em;
}

ul.playerSelectorList > li {
  margin: 5px;
  border: 1px solid black;
  padding: 3%;
}

ul.playerSelectorList > li.present {
  color: white;
  background-color: red;
}

.submitPlayers {
  width: 100%;
  height: 40px;
}

#modalBackground {
  position: fixed;
  opacity: 0.5;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modalDiv > button{
  font-size: 0.7em;
  padding: 10%;
}

#modalDiv {
  width: 50%;
  height: auto;
  font-size: 2em;
  position: fixed;
  padding: 15%;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

button#yes , button#no{
  padding: 10%;
}

h1 {
  font-size: 5.5em;
}

h3 {
  font-size: 4em;
}

ol > li {
  font-size: 4em;
}

ol {
  position: absolute;
  left: 10%;
}

#buttonDiv > button {
  font-size: 1em;
  margin: 5%;
}

#buttonDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid black;
  background-color: white;
}

#headerDiv {
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 9999;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0.3em;
}

#listDiv {
  position: absolute;
  top: 20%;
  bottom: 30%;
  left: 0;
  right: 0;
  font-size: 0.4em;
  overflow-y: scroll;
}

h1#dashHeader{
  position: initial;
  top:0;
  left:0;
  right: 0;
  font-size: 3em;
  text-align: center;
  border-bottom: 1px solid black;
}

div.currentKicker{
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}

div.onDeck{
  font-size: 0.4em;
  text-align: center;
}

div.inHole {
  font-size: 1.1em;
  text-align: center;
}

div.arrowsDiv{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

div.arrowsDiv > * {
  padding: 35px;
  color: white;
}

div.back{
  background-color: grey;
  display: inline-block;
}

div.next{
  background-color: blue;
  display: inline-block;
  position: absolute;
  right: 0;
}

div.add {
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  padding: 20px;
  transform: translateX(25%);
}
